{% extends  'base.html' %}

{% block body %}
<div class="container">

<br>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
{{list.message}}
</div>


<table class="table">
  <thead class="thead-dark">
    <tr class="table-light">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">birthdate</th>
      <th scope="col">aadhar</th>
      <th scope="col">address</th>
      <th scope="col">department</th>
      <th scope="col">Specialization</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-danger">
      <th scope="col">-</th>
      <th scope="col"> <p>
  {{list.req.req_no.name}}
</p> </th>
      <th scope="col"><p>
  {{list.req.req_no.birthdate}}
</p></th>
<th scope="col"><p>
  {{list.req.req_no.aadhar}}
</p>
</th>
      <th scope="col"><p>
  {{list.req.req_no.address}}
</p></th>
       <th scope="col"><p>
  {{list.req.req_no.department}}
</p></th>
        <th scope="col"><p>
  {{list.req.req_no.specialization}}
</p></th>
         <th scope="col"><p>
  {{list.req.req_no.category}}
</p></th>
    </tr>
  </tbody>
</table>

</div>

{% endblock %}


