{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{%block contactactive%}active{% endblock contactactive %}

{% block body %} 

<div class="container my-4">
<h3> Application Form</h3>
<form method="post" action="/contact" >
{% csrf_token %}
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
  </div>
    <div class="mb-3">
    <label for="birthdate" class="form-label">Birthdate</label>
    <input type="date" class="form-control" id="birthdate" name="birthdate" aria-describedby="birthdate">
  </div>
    <div class="mb-3">
    <label for="aadhar" class="form-label">Aadhar</label>
    <input type="text" class="form-control" id="aadhar" name="aadhar" aria-describedby="aadhar">
  </div>
    <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <textarea class="form-control" name="address" id="address" name="address" cols="30" rows="3"></textarea>
  </div>
    <div class="mb-3">
    <label for="gender" class="form-label">Gender</label>
    <textarea class="form-control" name="gender" id="gender" name="gender" cols="30" rows="5"></textarea>
  </div>
    <div class="mb-3">
    <label for="department" class="form-label">Department</label>
    <input type="text" class="form-control" id="department" name="department" aria-describedby="department">
  </div>
 <div class="mb-3">
    <label for="specialization" class="form-label">Specialization</label>
       <input type="text" class="form-control" id="specialization" name="specialization" aria-describedby="specialization">
  </div>
      <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <textarea class="form-control" name="category" id="category" name="pwd" cols="30" rows="5"></textarea>
  </div>
   <!--  <div class="mb-3">
    <label for="pwd" class="form-label">PWD</label>
    <textarea class="form-control" name="pwd" id="pwd" name="pwd" cols="30" rows="5"></textarea>
  </div> -->   

<!--
<div class="mb-3">
<label for="category" class="form-label">Specialization</label>
 <input type="text" class="form-control" id="specialization" name="specialization" aria-describedby="specialization" 
 value="marked" disabled="disabled">
  </div>
  -->

      <div class="mb-3">
    <label for="documents" class="form-label">documents</label>
    <textarea class="form-control" name="documents" id="documents" name="documents" cols="30" rows="5"></textarea>
  </div>
      <div class="mb-3">
    <label for="passport" class="form-label">passport pic</label>
    <textarea class="form-control" name="passport" id="passport" name="passport" cols="30" rows="5"></textarea>
  </div>
      <div class="mb-3">
    <label for="notes" class="form-label">Notes</label>
    <textarea class="form-control" name="notes" id="notes" name="notes" cols="30" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock body %}